header {
	display: flex;
	justify-content: space-around;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	background-color: #3150a5;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
}

header h1 {
	width: 100%;
	margin: 10px 10px 10px 50px;
}

#live-clock {
	margin: 10px 50px auto;
	display: inline-block;
	justify-content: center;
}

#page-container {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

#input-container {
	background-color: white;
	position: fixed;
	bottom: 0;
	text-align: center;
	justify-content: center;
	width: 100%;
}

#input-container .button {
	margin: 25px;
}

#edit-container {
	background-color: white;
	position: fixed;
	bottom: 0;
	text-align: center;
	justify-content: center;
	width: 100%;
}

#edit-container .button {
	margin: 25px;
}

.button {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	background-color: #3150a5;
	color: white;
	border: none;
	padding: 5px 7px 5px 7px;
	transition-duration: 0.4s;
	font-size: 12pt;
}

.button:hover {
	background-color: white;
	color: #3150a5;
	border: solid 1px;
	border-color: #3150a5;
}

#stored-records {
	margin-top: 100px;
	overflow-y: auto;
	margin-bottom: 100px;
}

.recorded {
	font-size: 12pt;
	display: block;
	justify-content: left;
	text-align: left;
	border: none;
	background-color: #f5f5f5f5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title,
.creation-date {
	display: inline-block;
}

.edit-and-remove {
	bottom: 0;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

.remove-btn,
.edit-btn {
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 10pt;
	display: none;
	margin: 10px;
	margin-top: 5px;
	transition-duration: 0.4s;
	position: static;
}

.edit-btn {
	background-color: green;
	color: white;
}

.remove-btn {
	background-color: red;
	color: white;
}

.edit-btn:hover {
	background-color: white;
	color: green;
	border: solid 1px;
	border-color: green;
}

.remove-btn:hover {
	background-color: white;
	color: red;
	border: solid 1px;
	border-color: red;
}

.recorded label {
	display: inline-block;
	text-align: left;
	justify-content: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.edit-form {
	display: flex;
	text-align: center;
	justify-content: center;
}

.edit-form button {
	background-color: #3150a5;
	color: white;
	border: none;
	margin-left: 10px;
}

.edit-input {
	display: flex;
	margin: 0;
	padding: 0;
}

#record-title {
	margin: 0;
	padding: 0;
	text-align: left;
	justify-content: left;
}

#save-new-btn {
	justify-content: center;
}
